h2{
    color: #111111;
    margin:30px;
    font-family: Gotu, serif;
}
p{
    margin: 15px;
    font-size: 15px
}

.red{
    background-color: #FFC4C4;
}
.pink{
    background-color: #FFF9FF;
}
.blue{
    background-color: #DEE4FF;
}
.grey{
    background-color: #E6E6E6;

}
.green{
    background-color: #E9FFD9;
 }
.green3{
    background-color: #E9FFE0;
}
.header{
    position: sticky;
    top: 0;
    padding: 1px;
    background: tomato;
    color: #E5E4E2;
    text-align: center;
}

table, th, td{
    border: 1px solid gray;
    padding: 10px;
}
table{
    border-collapse: collapse;
    width: 225px;
}
td{
    width: 25%;
}
th{
    font-weight: bold;
}
tr:nth-child(odd) {background-color: lightpink}

img{
    height: 350px;
    width: 700px;
}

body {
  margin: 0;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: tomato;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

div{
    margin-left: 130px;
    padding:1px 16px;


}